/data/
temp
.DS_Store
**/*.pth
weights
__pycache__
**/__pycache__
GPTSoVITS/pretrained_models
GPTSoVITS/text/G2PWModel/g2pW.onnx
GPTSoVITS/text/ja_userdic/
**/*.rep
**/*.pickle
GPTSoVITS/text/G2PWModel_1.1.zip
build
dist
ffmpeg.exe
ffprobe.exe
ffplay.exe
/weight.json
runtime
nltk_data
.ipynb_checkpoints
/messages.db
*.json
**/messages.db
GPT_weights
